.socials {
    width: 100%;
}

.socials__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.socials__link {
    width: 28px;
    height: 28px;
    margin: 0 3px 0;

    background-size: cover;
    background-position: center center;

    &--instagram {
        background-image: url('../images/insta.png');
    }

    &--vk {
        background-image: url('../images/vk.svg');
    }

    &--facebook {
        background-image: url('../images/fb.svg');
    }

    &--youtube {
        background-image: url('../images/youtube.png');
    }
}

@media #{$tablet} {
    .socials__link {
        width: 30px;
        height: 30px;
    }
}

@media #{$desktop} {
    .socials__link {
        width: 32px;
        height: 32px;
        margin: 0 4px 0;
    }
}