.product-tabs {
    width: 100%;
    font-family: $roboto;
    padding-bottom: 25px;
}

.product-tabs__tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.product-tabs__tab {
    width: 50%;
    padding: 10px;
    flex: 0 1 auto;

    border-bottom: 2px solid;

    color: #8b8b8b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;

    cursor: pointer;

    &.active {
        color: $themecolor;
        border-bottom-color: $themecolor;
    }
}

.product-tabs__content {
    display: none;
    // transform: translateX(100%);
    width: 100%;
    padding: 20px 0;

    &:nth-child(2) {
        display: block;
    }

    h3 {
        margin: 0;
        margin-bottom: 15px;

        color: $themecolor;
        font-size: 16px;
        font-weight: 400;
    }

    p {
        margin: 0 auto;
        margin-bottom: 20px;

        color: #1a3445;
        font-size: 15px;
        font-weight: 400;
    }

    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;

        list-style: none;
    }

    li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 10px;

        color: #1a3445;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;

        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            left: 0;
            top: 50%;
            transform: translateY(-35%);

            background-color: $themecolor;
            border-radius: 50%;
        }
    }

    table {
        width: 100%;
    }

    tr {
        border-bottom: 2px solid #bbbbbb;

        &:first-child {
            border-top: 2px solid #bbbbbb;
        }
    }

    td {
        width: 50%;
        padding: 15px;

        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: #fff;

        background-color: #909090;

        &:nth-child(2) {
            color: #1a3445;
            font-size: 14px;
            font-weight: 400;

            background-color: #fff;
        }
    }
}

.product-tabs__content-footer {
    margin-top: 45px;

    color: $themecolor;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.product-tabs__content-info {
    width: 80%;
    padding-top: 25px;

    color: #1a3445;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

@media (max-width: 480px) {
    .product-tabs__tabs {
        display: none;
    }

    .product-tabs__content {
        padding-top: 10px;
        padding-bottom: 10px;

        h3 {
            margin-bottom: 5px;

            font-size: 16px;
        }

        p {
            margin-bottom: 15px;

            font-size: 14px;
        }

        ul {
            margin-bottom: 15px;
        }

        li {
            margin-bottom: 5px;

            font-size: 14px;
        }
    }

    .product-tabs__content-footer {
        margin-top: 25px;

        font-size: 16px;
    }
}
