.main-nav {
    width: auto;
}

.main-nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.main-nav__link {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: $darktext;
    transition: color 300ms ease;
    cursor: pointer;
    
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $darktext;
    }
    
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;

        background-color: #acacac;
    }
}

.main-nav__subnav {
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
    padding: 75px 25px 0;

    transition: transform 300ms ease;
}

.main-nav__sublist {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    background-color: #000;
}

.main-nav__sublink {
    display: inline-block;
    color: #fff;
}

.main-nav__item:hover .main-nav__subnav {
    display: block;
    transform: translateX(0);
}
