.main-nav {
    width: auto;
}

.main-nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item {
    position: relative;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    // &.has-subnbav::after {
    //     content: '';
    //     position: absolute;
    //     opacity: 1;

    //     border: 2px solid black;
    //     border-left-color: transparent;
    //     border-bottom-color: transparent;
    //     border-bottom-width: 0;
    // }
}

.main-nav__item.has-subnav::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 47px;
    opacity: 0;
    border: 5px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-width: 0;
    
    transition: opacity 300ms ease;
}

.main-nav__item.has-subnav:hover {
    &::after {
        opacity: 1;
    }
}

.main-nav__link {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: $darktext;
    transition: color 300ms ease;
    cursor: pointer;
    
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $darktext;
    }
    
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;

        background-color: #acacac;
    }
}

.main-nav__subnav {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 50px;
    transform: translateX(-100%);
    width: 100%;
    padding-top: 30px;

    transition: transform 300ms ease;
}

.main-nav__sublist {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 15px 25px;
    background-color: #000;
}

.main-nav__subitem {
    margin-left: 25px;
}

.main-nav__sublink {
    display: inline-block;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.main-nav__item:hover .main-nav__subnav {
    display: block;
    transform: translateX(0);
}
