mixin product-slider()
    +b.product-slider
        +e.main
            +e.main-slide.zoom
                img(src='images/product1.jpg')
            +e.main-slide.zoom
                img(src='images/product2.jpg')
            +e.main-slide.zoom
                img(src='images/product3.jpg')
        +e.thumbs
            +e.thumb-slide
                img(src='images/product1-thumb.jpg')
            +e.thumb-slide
                img(src='images/product2-thumb.jpg')
            +e.thumb-slide
                img(src='images/product3-thumb.jpg')
            