@import "includes/fonts.scss";
@import "variables.scss";
@import "includes/normalize.scss";
@import "sprite.scss";

@import "../blocks/**/*";

html, body {
  height: 100%;
}

body {
  background-image: url('../images/index-bg.jpg');
  background-size: cover;
}