-var images = ['images/product1.jpg', 'images/product2.jpg', 'images/product1.jpg', 'images/product2.jpg', 'images/product1.jpg', 'images/product2.jpg']

mixin product-page()
    +b.MAIN.product-page
        +e.images
            for image in images
                +e.image
                    img(src="#{image}", alt="Изображение товара")
        +e.container
            +e.description-card
                +product-card
            +e.P.description-text.bounceInLeft.animatable
                | Eames Lounge Chair представляет собой кресло и оттоманку для ног, которая может быть использована как полноценное сиденье. Корпус состоит из 7 слоев формированной фанеры, покрытой шпоном из различных сортов древесины. Обивка выполнена кожи.