.product-page {
    position: relative;
    font-family: $roboto;
    margin-top: 20px;
    min-height: 80vh;
}

.product-page__images {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.product-page__image {
    width: 50%;

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
}

.product-page__container {
    position: absolute;
    top: 10px;
    left: 25px;
    // overflow: hidden;
}


.product-page__description-card {
    width: 280px;
    padding-top: 10px;
}

.product-page__description-text {
    position: absolute;
    min-width: 300px;
    top: 10px;
    left: 290px;
    padding: 15px;
    color: rgb(219, 216, 216);
    background-color: rgba(#000, 0.6);

    font-size: 14px;
    font-weight: 400;
    font-weight: 18px;
}

@media (max-width: 1240px) {


}

@media (max-width: 768px) {
   
}

@media (max-width: 480px) {
    .product-page__container {
        width: 320px;
    }
}

.animatable {
    visibility: hidden;
    animation-play-state: paused;
}

.animated {
    visibility: visible;
    animation-duration: 500ms;
    animation-play-state: running;
    animation-timing-function: ease;
}

.bounceInLeft {
    animation-name: bounceInLeft;
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}