mixin main-footer()
    +b.FOOTER.main-footer
        +e.inner
            +e.socials
                +socials
            +e.contacts
                +e.main-tel +7(495) 955-55-55
                +e.messenger
                    +e.messenger-tel +7(926) 204-72-84
                    +e.messenger-list WhatsApp, Viber, Telegram