mixin main-header()
    +b.HEADER.main-header
        +e.inner
            +e.A.logo&attributes(attributes)
                img(src='images/logo.png' width='250' alt='Dream-loft')
            +e.navigation
                +main-nav
            +e.contacts
                +e.tel +7(495) 955-55-55
                +e.email market@dreamloft.ru
            +e.hamburger
                +hamburger
            +e.mobile-nav
                +mobile-nav