.main-header {
    width: 100%;

    padding: 10px 25px 15px;
    margin: 0 auto;
    font-family: $roboto;
    color: $darktext;
    background-color: rgba(#fff, 0.25);
    border-bottom: 1px dashed #acacac;
}

.main-header__inner {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center
}

.main-header__logo {
    width: 250px;
    height: 57px;
    margin-right: 25px;

    img {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

.main-header__navigation {
    width: auto;
    flex: 0 0 auto;
    margin-right: 45px;
    margin-left: auto
}

.main-header__contacts {
    width: auto;
    flex: 0 0 auto;

    font-size: 16px;
    text-align: center;
}

.main-header__tel {
    font-size: 21px;
}

.main-header__hamburger {
    position: absolute;
    top: 32px;
    right: 25px;
}

@media (max-width: 480px) {
    .main-header__logo {
        width: 220px;
    }

    .main-header__contacts {
        margin: 0 auto 0;
    }

    .main-header__navigation {
        display: none;
    }

    .main-header__tel {
        font-size: 16px;
    }

    
}