.product-description {
    width: 100%;
    padding: 20px;

    font-family: $roboto;
    background-color: rgba(#fff, 0.35);
}

.product-description__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.product-description__block {
    margin-bottom: 15px;
}

.product-description__subtitle {
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: 700;
}

.product-description__text {
    margin: 0;

    color: #3c3c3c;
    font-size: 14px;
    font-style: italic;

    &--highlight {
        padding: 10px;

        border: 1px inset black
    }
}

.product-description__desc-trigger {
    display: block;
    margin: 0;
    padding: 10px;

    color: #3c3c3c;
    font-size: 14px;
    font-style: italic;

    border: 1px inset black;

    &:hover,
    &:active,
    &:focus {
        color: #3c3c3c;
    }
}

.product-description__table {
    color: #3c3c3c;
    font-size: 14px;
    font-style: italic;
}

table {
    width: 100%;
}

td {
    width: 25%;
    text-align: left;
}

.product-description__price {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.product-description__description {
    display: none;
    padding: 15px;
    background-color: rgba(#000, 0.3);
}