@font-face {
    font-family: 'Aristotelica';
    font-weight: 400;
    font-style: normal;

    src: url("../fonts/AristotelicaTextTrial-Regular.woff2") format("woff2"),
        url("../fonts/AristotelicaTextTrial-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Aristotelica';
    font-weight: 600;
    font-style: normal;

    src: url("../fonts/AristotelicaTextTrial-DemiBold.woff2") format("woff2"),
        url("../fonts/AristotelicaTextTrial-DemiBold.woff") format("woff");
}

