mixin index-catalog()
    +b.MAIN.index-catalog
        +e.H1.heading Лучшая мебель только в Dream-Loft
        +e.grid
            +e.A.item.--2x(href='#')
                img(src='images/catalog1.jpg')
                +e.label Стул №1
            +e.A.item(href='#')
                img(src='images/catalog2.jpg')
                +e.label Стул №2
            +e.A.item(href='#')
                img(src='images/catalog3.jpg')
                +e.label Стул №3
            +e.A.item.--2x(href='#')
                img(src='images/catalog4.jpg')
                +e.label Стул №4
            +e.A.item(href='#')
                img(src='images/catalog5.jpg')
                +e.label Стул №5
            +e.A.item.--2x(href='#')
                img(src='images/catalog6.jpg')
                +e.label Стул №6
            +e.A.item(href='#')
                img(src='images/catalog7.jpg')
                +e.label Стул №7
            +e.A.item(href='#')
                img(src='images/catalog8.jpg')
                +e.label Стул №8
            