mixin product-description()
    +b.product-description
        +e.H2.title Magnificent chair
        +e.brand King Chairs
        +e.tabs
            +product-tabs
        +e.price Цена: 799 USD
        +e.A.button(href='#modal1' data-target='#modal1' data-toggle='modal') Купить
